<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

	<!-- Additional CSS must be placed after Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  <!-- <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css" /> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">

	<title>canabey mpls</title>
</head>
<body>
<header th:replace="fragments/header">
</header>
      <main>
    		<div class="container">

        		<!--Section: Block Content-->
       		    <section class="mt-5 mb-4">
       		    
       		    	 <!--Grid row-->
           			 <div class="row">

              			  <!--Grid column-->
               			 <div class="col-lg-8">
               			 
               			 	<!-- Card -->
                   			<div class="card mb-4">
                        		<div class="card-body">
                        		
                        			<h5 class="text-danger mb-4">Cart (<span th:text="${cartCount}"></span> products)</h5>
                        			
                        			 <div class="card-body row mb-4" th:each="item, iStat : ${cart}">
                                		<div class="col-md-5 col-lg-3 col-xl-3">
                                   			 <div class="mb-3 mb-md-0">
                                   			 
                                    		 <img class="card img-fluid w-100"
                                             th:src="@{${'/productImages/' + item.imageName}}">
                                    		 </div>
                                    	</div>
                                    	<div class="col-md-7 col-lg-9 col-xl-9">
                                   			 <div>
                                        		<div class="d-flex justify-content-between">
                                           			 <div>
                                           			 	<h5 th:text="${item.name}"></h5>
                                           			 	<p class="mb-3 text-uppercase small" th:text="${item.description}"> </p>
                                           			 </div>
                                           		</div>
                                           		
                                           		<div class="mt-5 d-flex justify-content-between align-items-center">
                                            		<div>
                                               		 <a href="#" th:href="@{/cart/removeItem/{index}(index=${iStat.index})}"  type="button" class="text-danger card-link-secondary small text-uppercase mr-3"><i
                                                        class="text-danger fas fa-trash-alt mr-1"></i> Remove product </a>
                                           			 </div>
                                           			 <p class="mb-0"><span><strong>$<span th:text="${item.price}"></span></strong> </span></p>
												</div>
												 <hr/>
											 </div>
										</div>
									 </div>

                        			 <p class="text-primary mb-0"><i class="fas fa-info-circle mr-1"></i> Anything else?</p>
                        			 
                        		</div>
                        	</div>
               			 
               			 </div>
               			 
               			 <!--Grid column-->
                		 <div class="col-lg-4">

                   			 <!-- Card -->
                    		 <div class="card mb-4">
                        		<div class="card-body">
                        		
                        			<h5 class="mb-3">Summary</h5>
                        			
                        				<ul class="list-group list-group-flush">
                                			<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                  			  Subtotal
                                   			 <span>$<span th:text="${total}"></span></span>
                                			 </li>
                                			 <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    			Shipping
                                    			<span>Free</span>
                               				 </li>
                               				 <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    		<div>
                                        		<strong>Total</strong>
                                    		</div>
                                    		<span><strong>$<span th:text="${total}"></span></strong></span>
                               			</li>
                                		</ul>
                                		
                                		<a th:href="@{/checkout}" class="btn btn-success btn-block">go to
                                		checkout</a>
                        		</div>
                        	 </div>
                          </div>
               		 </div>
        
       			</section>
      		</div>
      
      </main>
<footer class="site-footer mt-auto" th:replace="fragments/footer.html">
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>